<app-header></app-header>
<div class="container shadow-lg">
    <div class="row">
        <div class="col-12 d-flex justify-content-between">
            <h1>Speakers</h1>
            <div class="addButton">
                <button class="btn btn-success" (click)="onClickAddSpeaker()"><i class="bi bi-plus-circle"></i> Add Speaker</button>
            </div>
        </div>
    </div>
    
    <div class="row tableHeader">
        <div class="col-1 d-flex justify-content-center">
            <strong>#</strong>
        </div>
        <div class="col-3 d-flex justify-content-start">
            <strong>Speaker name</strong>
        </div>
        <div class="col-8 d-flex justify-content-start">
            <strong>Photo</strong>
        </div>
    </div>
    <div *ngFor="let speaker of speakerResponse ; let i = index; let even = even; let odd = odd">
        <div class="row contentRow d-flex row-striped" [ngClass]="{ odd: odd, even: even }" >
            <div class="col-1 d-flex justify-content-center">
                <strong>{{i+1}}.</strong>
            </div>
            <div class="col-10 d-flex justify-content-start">
                <span>{{speaker.speakerName}}</span>
            </div>
            <div class="col-1 settings d-flex justify-content-end">
                <i (click)="onClickUpdateSpeaker(speaker)" class="bi bi-pencil-square text-warning"></i>
                <i (click)="viewSpeakerInfo(speaker)" class="bi bi-eye text-secondary"></i>
                <i (click)="onClickDelete(speaker)" class="bi bi-trash3 text-danger"></i>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between pt-3">
        <div>
            <pagination-controls 
                (pageChange)="page = $event"
                (click)="getAllSpeakers()"
            ></pagination-controls>
        </div>
        <div>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example" [(ngModel)]="size"
                (ngModelChange)="getAllSpeakers()">
                <option [ngValue]="10">10 per page</option>
                <option [ngValue]="15">15 per page</option>
                <option [ngValue]="20">20 per page</option>
            </select>
        </div>
    </div>
</div>