.container{
    padding-left: 24px;
    padding-bottom: 24px;
    padding-right: 24px;
}

.input-group{
    margin-top: 16px;
}

.closeModal{
    padding-top:12.8px;
    padding-right: 16px;
}

.closeModalButton{
    font-size: 24px;
}

.exitButtons{
    margin-top:16px;
}
