
.closeModal{
    padding-top:0.8em;
    padding-right: 1em;
}

.container{
    padding: 24px;
}


.closeModalButton{
    font-size: 24px;
}

label{
    font-size: 16px;
    margin: 6.4px 0;
}

.imageBorder{
    border: solid white 1px;
    font-size:160;
    display: flex;
    justify-content: center;
    align-items: center;
}

.insertImage{
    width: 75%;
}
.btn{
    width: 15%;
}
