h1{
    font-size:64px;
}
h2{
    letter-spacing: 4px;
}

.container{
    margin-top:50px;
    padding:20px;
}

.settings{
    display: flex;
    justify-content: end;
    align-items: center;
    gap:15px;
    font-size: 20px;
}

.row-striped.even {
    background-color: #ffffff;
}
  
.row-striped.odd {
    background-color: #efefef;
}

.row{
    padding: 20px 0;
    border-bottom: 1px solid gray;
}

.contentRow{
    cursor: pointer;
}

.tableHeader{ 
    background:linear-gradient(to right, #FFFFFF, #C9A0FF, #C9A0FF,#7CB9E8,#7CB9E8,#FFFFFF);
}